.et-field
  margin-bottom: 0.9em
  p
    margin-top: 0.25em
    color: #999
    font-weight: 400
.et-field:last-child
  margin-bottom: 0
.et-field
  .et-label
    display: block
    color: $label
    font-weight: 600
.et-field.et-is-grouped > .et-control:not(:last-child)
  margin-bottom: 0
  margin-right: .75rem
