*
  box-sizing: inherit
::after
  box-sizing: inherit
::before
  box-sizing: inherit

.et-button, .et-file-cta, .et-file-name, .et-input, .et-pagination-ellipsis, .et-pagination-link, .et-pagination-next, .et-pagination-previous, .et-select select, .et-taginput .et-taginput-container.is-focusable, .et-textarea
  -moz-appearance: none
  -webkit-appearance: none
  align-items: center
  // border: 1px solid transparent
  // border-radius: 4px
  box-shadow: none
  display: inline-flex
  font-size: 1rem
  height: 2.25em
  justify-content: flex-start
  line-height: 1.5
  padding: calc(.375em - 1px) calc(.625em - 1px)
  position: relative
  vertical-align: top

.et-control
  box-sizing: border-box
  clear: both
  font-size: 1rem
  position: relative
  text-align: left
  &.et-has-icons-right
    .et-input
      padding-right: 2.6em
    .et-icon
      &.et-is-right
        right: 0
  &.et-has-icons-left
    .et-select select
      padding-left: 2.25em
    .et-input
      padding-left: 2.6em
    // .et-icon
    //   &.et-is-right
    //     right: 0
  &.et-has-icons-left,
  &.et-has-icons-right
    .et-icon
      width: 2.6em
      height: 100%
      position: absolute
      top: 0
      z-index: 10
      display: flex
      align-items: center
      justify-content: center

.et-help
  display: block
  font-size: .75rem
  margin-top: .25rem
.et-help.et-counter
    float: right
    margi-left: 0.5em
.et-help.et-is-info
  color: $info
.et-help.et-is-success
  color: $success
.et-help.et-is-danger
  color: $danger
.et-help.et-is-warning
  color: $warning

.et-is-invisible
  display: none

.checkbox[disabled],
.radio[disabled],
fieldset[disabled] .checkbox,
fieldset[disabled] .radio,
.et-select select[disabled]
  color: $disabled
  cursor: not-allowed

.et-field.et-is-grouped
  display: flex
  justify-content: flex-start
.et-input-sub
  font-size: 0.75rem
  margin-top: 0.5em
.et-footer
  margin-top: 1.0em