*
  box-sizing: inherit
::after
  box-sizing: inherit
::before
  box-sizing: inherit

  // html
  //   position: relative
  
.et-button, .et-file-cta, .et-file-name, .et-input, .et-pagination-ellipsis, .et-pagination-link, .et-pagination-next, .et-pagination-previous, .et-select select, .et-taginput .et-taginput-container.is-focusable, .et-textarea
  -moz-appearance: none
  -webkit-appearance: none
  align-items: center
  // border: 1px solid transparent
  // border-radius: 4px
  box-shadow: none
  display: inline-flex
  font-size: 1rem
  height: 2.25em
  justify-content: flex-start
  line-height: 1.5
  padding: calc(.375em - 1px) calc(.625em - 1px)
  position: relative
  vertical-align: top

.et-control
  box-sizing: border-box
  clear: both
  font-size: 1rem
  position: relative
  text-align: left
  &.et-has-icons-right
    .et-input
      padding-right: 2.6em
    .et-icon
      &.et-is-right
        right: 0
  &.et-has-icons-left
    .et-select select
      padding-left: 2.25em
    .et-input
      padding-left: 2.6em
    // .et-icon
    //   &.et-is-right
    //     right: 0
  &.et-has-icons-left,
  &.et-has-icons-right
    .et-icon
      width: 2.6em
      height: 100%
      position: absolute
      top: 0
      z-index: 10
      display: flex
      align-items: center
      justify-content: center

.et-help
  display: block
  font-size: .75rem
  margin-top: .25rem
.et-help.et-counter
    float: right
    margi-left: 0.5em
.et-help.et-is-info
  color: $info
.et-help.et-is-success
  color: $success
.et-help.et-is-danger
  color: $danger
.et-help.et-is-warning
  color: $warning

.et-is-invisible
  display: none

.checkbox[disabled],
.radio[disabled],
fieldset[disabled] .checkbox,
fieldset[disabled] .radio,
.et-select select[disabled]
  color: $disabled
  cursor: not-allowed

.et-input-sub
  font-size: 0.75rem
  margin-top: 0.5em
  margin-bottom: 0.25em
.et-page-navigation
  padding: 2.0em 2.0em 1.0em 2.0em
  background-color: $headerBackground
.et-page-content
  margin: 1.0em 2.0em 1.0em 2.0em
.et-footer
  padding: 1.0em 2.0em 2.0em 2.0em
  background-color: $footerBackground
.et-add-padding
  padding: 2em
.et-form-border
  border: 1px #e5e5e5 solid

$snackbar-background-color: $dark !default
$snackbar-color: $white !default
.et-notices
  position: fixed
  display: flex
  top: 0
  bottom: 0
  left: 0
  right: 0
  padding: 2em
  overflow: hidden
  z-index: 1000
  pointer-events: none
  .et-toast
    display: inline-flex
    animation-duration: $speed-slow
    margin: 0.5em 0
    text-align: center
    box-shadow: 0 1px 4px rgba(0, 0, 0, 0.12), 0 0 6px rgba(0, 0, 0, 0.04)
    border-radius: 2em
    padding: 0.75em 1.5em
    pointer-events: auto
    opacity: 0.92
    // background-color: $white
    @each $name, $pair in $colors 
      $color: nth($pair, 1)
      $color-invert: nth($pair, 2)
      &.et-is-#{$name}
        color: $color-invert
        background: $color

  .snackbar
    display: inline-flex
    align-items: center
    justify-content: space-around
    animation-duration: $speed-slow
    margin: 0.5em 0
    box-shadow: 0 1px 4px rgba(0, 0, 0, 0.12), 0 0 6px rgba(0, 0, 0, 0.04)
    border-radius: $borderRadius
    pointer-events: auto
    background: $snackbar-background-color
    color: $snackbar-color
    min-height: 3em
    .text
      padding: 0.5em 1em

    .action 
      margin-left: auto
      padding: 0.5em
      padding-left: 0
      .button
        font-weight: 600
        text-transform: uppercase
        background: $snackbar-background-color
        border: transparent

      .button:hover 
        background: darken($snackbar-background-color, 5%)

      .button:active 
        background: darken($snackbar-background-color, 5%)

      // @each $name, $pair in $colors
      //   $color: nth($pair, 1)
      //   &.is-#{$name}
      //     .button
      //       color: $color

    // @include mobile
    //     width: 100%
    //     margin: 0
    //     border-radius: 0

    // @include tablet
    //     min-width: 350px
    //     max-width: 600px
    //     overflow: hidden

  .et-notification
    max-width: 600px

  .et-toast,
  .et-snackbar,
  .et-notification
    // Modifiers
    &.et-is-top, &.et-is-bottom
      align-self: center

    &.et-is-top-right, &.et-is-bottom-right
      align-self: flex-end

    &.et-is-top-left, &.et-is-bottom-left
      align-self: flex-start

    &.et-is-toast
      opacity: 0.92

  // Modifiers
  &.et-is-top
    flex-direction: column

  &.et-is-bottom
    flex-direction: column-reverse

  &.has-custom-container
    position: absolute


  // @include mobile
  //   padding: 0
  //   position: fixed !important

.et-is-clipped
    overflow: hidden !important

.et-media
    align-items: flex-start
    display: flex
    text-align: left
.et-media-left
    margin-right: 1rem
.et-media-left, .et-media-right
    flex-basis: auto
    flex-grow: 0
    flex-shrink: 0
