h1
  font-size: 2.5em!important
  margin: 0 0 20px 0!important
h2
  font-size: 2.0em!important
  margin: 0 0 20px 0!important
h3
  font-size: 1.75rem!important
  margin: 0 0 15px 0!important
h4
  font-size: 1.5rem!important
  margin: 0 0 10px 0!important
h5
  font-size: 1.25rem!important
  margin: 0 0 10px 0!important

.breadcrumb
  font-size: 18px
  color: #bbb
  font-weight: 800
  display: block
  border-bottom: 1px solid #ccc
.expandedView
  max-height: 125px
  overflow: hidden
  
.codeview
  position: relative
  .code-example
    padding-top: 45px
  &:not(.expandedView)
    .overlay
      display: none
.codeview .overlay
  background-image: linear-gradient(to top,rgba(255,255,255,0.75),rgba(255,255,255,0.5))
  background-size: cover
  position: absolute
  left: 0
  top: 25px
  right: 0
  bottom: 0
  max-height: 100px
.clicktoexpand
  font-size: 12px
  cursor: pointer
  padding: 5px 0 0 5px
p:last-child
  margin-bottom: 0
