// colors
$primary: #34A7DE !default;
$secondary: #f27320 !default;

// color coding fields
$info: #FCD500 !default;
$success: #008c3c !default;
$warning: #ffb929 !default;
$danger: #f2355b !default;
$disabled: #999 !default;
$white: #fff !default;
$dark: #333 !default;
$light: #ccc !default;
$hoverTransparency: 0.75 !default;

// common styles
$label: #999 !default;
$textColor: #333 !default;
$backgroundColor: #fff !default;
$iconColor: #ccc !default;
$borderRadius: 4px !default;
$innerShadow: inset 0px 1px 3px rgba(0,0,0,0.125) !default;
$shadow: 2px 2px 4px rgba(0,0,0,0.33) !default;
